@import "../../../variables";

.MainPage {
  height: 100%;

  &__content {
    height: auto;
  }

  &__hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
  }

  &__news {
    width: 320px;
  }
}
