@import "../../../variables";

.MainPage {
  //height: 100%;
  padding-bottom: 100px;

  &__content {
    position: relative;
    height: auto;
    transform: scaleX(-1);
  }

  &__hero {
    display: flex;
    align-items: flex-end;
    //margin-bottom: 70px;
  }

  &__news {
    margin-right: 60px;
    max-width: 520px;
  }

  &__slider {
    min-width: 520px;
    min-height: 420px;
  }
}
