@import "../../variables";

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 20px;

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    font-family: $fontFamily2;
    //font-size: 26px;
    z-index: 1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      //bottom: 0;
      width: 100px;
      height: 2px;
      //height: 2px;
      //background: linear-gradient(to top, $lightGrey, $secondColor, $lightGrey);
      z-index: -1;
      background: rgba($secondColor, 0.8);
    }

    &::after {
      top: unset;
      bottom: 0;
    }
  }

}
