@import "../../../variables";

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px;

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    color: var(--pageTitleColor);
    font-family: var(--fontFamily3);
    text-transform: uppercase;
    z-index: 1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100px;
      height: 2px;
      z-index: -1;
      background: rgba($secondColor, 0.8);
    }

    &::after {
      top: unset;
      bottom: 0;
    }
  }

}
