@import "../../../../variables";

.news {

  &__create {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid;
    transition: all 0.2s;

    &:hover {
      background-color: $navAccentColor;
      color: #000;
    }
  }

}
