@import "../../../../../../variables";

.NewsItem {
  display: flex;
  //align-items: center;
  border-radius: 0 4px 0 0;
  border-top: 1px solid $secondColor;
  font-size: 14px;

  &__left {
    flex: 0 0 180px;
    //border-right: 2px solid #ccc;
    //vertical-align: center;
  }

  &__center {
    flex: 0 0 70px;
    background-color: #ccc;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__img {
    width: 70px;
    height: 50px;
  }

  &__right {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    //padding: 10px;
  }

  &__dateTime {
    padding: 5px 5px 5px 35px;
  }

  &__title {
    display: block;
    padding: 5px;
    color: #000;
    background-color: rgba($secondColor-light, 0.9);
  }

  &__desc {
    padding: 5px;
  }

  &__author {
    padding: 5px;
    font-style: italic;
    font-size: 12px;
    text-align: right;
  }

  span {
    margin-right: 20px;
  }
}
