@import "../../../../../../variables";

.NewsItem {
  position: relative;
  display: flex;
  border: 1px solid $secondColor;
  border-radius: 0 4px 0 0;
  font-size: 14px;

  &::before {
    content: attr(data-index);
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid $secondColor-light;
    border-bottom: 1px solid $secondColor-light;
    border-radius: 0 0 4px;
    padding: 2px 4px;
    color: $mainColor;
    background-color: $secondColor;
  }

  &__image {
    flex: 0 0 70px;
    border-right: 1px solid $secondColor;
    border-left: 1px solid $secondColor;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ccc;
  }

  &__info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &__infoTop {
    position: relative;
    display: flex;
    align-items: center;

    padding: 5px;
    color: $mainColor;
    background-color: rgba($secondColor-light, 0.9);

    span {
      margin-right: 10px;
    }
  }

  &__title {
    font-weight: 700;
  }

  &__controls {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
  }

  &__remove,
  &__edit {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../../../../../../assets/icons/trash.svg");
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__edit {
    margin-right: 10px;
    background-image: url("../../../../../../assets/icons/edit.svg");
  }

  &__desc {
    padding: 5px;
    font-style: italic;
  }

  &__author {
    font-style: italic;
    font-size: 12px;
    text-align: right;
  }


}
