.params {
  margin-bottom: 15px;

  &__title {
    padding: 10px;
    font-weight: 700;
    text-align: center;
    background-color: #ccc;
  }

  &__select {
    margin-left: 10px;
    padding: 2px 5px;
  }
}
