@import "../../../../variables";

.NewsSlider {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  button,
  ul li button {
    &::before {
      color: var(--mainColor) !important;
    }
  }
}
