@import "../../../variables";

.admin {
  padding-bottom: 40px;
  &__title {
    margin-top: 10px;
    text-align: center;
  }
  
  &__subtitle {
    text-align: center;
  }

  &__choose {
    text-align: center;
    margin-bottom: 30px;
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__tab {
    //border-radius: 4px 4px 0 0;
    border: 1px solid $secondColor;
    border-right: none;
    font-size: 16px;
    transition: all 0.2s;

    a {
      display: inline-block;
      padding: 15px 25px;
    }

    &:hover {
      color: #000;
      background-color: rgba($navAccentColor, 0.2);
    }

    &:first-child {
      border-radius: 4px 0 0 0;
    }

    &:last-child {
      border-radius: 0 4px 0 0;
      border-right: 1px solid $secondColor;
    }
  }
}

.active {
  color: #000;
  background-color: rgba($navAccentColor, 0.5);
}
