@import "../../../variables";

.admin {
  padding-bottom: 40px;
  width: 100%;s

  &__title {
    text-align: center;
  }

  &__subtitle {
    text-align: center;
  }

  &__choose {
    display: block;
    margin: 0 0 30px;
    text-align: center;

    span {
      border-bottom: 1px solid $marvel;
    }
  }

  &__head {
    padding: 10px 0;
    width: 100%;
    background-color: $lightGrey;
  }

  &__title {
    margin: 0;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__tabs {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    max-width: 200px;
    min-height: 100vh;
    //border: 1px solid $mainColor;
    border-top: none;
    background-color: $popupBgColor;
  }

  &__tab {
    display: block;
    width: 100%;
    border-bottom: 1px solid $white;
    color: $white;
    font-size: 16px;
    transition: all 0.2s;

    a {
      display: inline-block;
      padding: 15px 25px;
    }

    &:hover {
      color: #000;
      background-color: rgba($navAccentColor, 0.5);
    }
  }

  &__content {
    padding: 20px 0 0 30px;
  }
}

.active {
  color: #000;
  background-color: rgba($navAccentColor, 0.5);
}
