@import "../../variables";

.App {
  color: var(--mainColor);
  background-color: var(--bgColor);
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
}

.lightTheme {
  --mainColor: #000;
  --bgColor: #fff;
  --logoColor: #808285;
  --userMenuLine: #d9dce3;
  //--alertsSectionBgColor: #f0f4feff;
}

.darkTheme {
  --mainColor: #fff;
  --bgColor: #1e2131;
  --logoColor: #eecb2f;
  --userMenuLine: #2b324b;
  --alertsSectionBgColor: #575151;
  --pageTitleColor: #c5c3c3;
  --alertsDescBgColor: #a6a5a3;

}
