.App {
  color: var(--mainColor);
  background-color: var(--bgColor);
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.lightTheme {
  --mainColor: #000;
  --bgColor: #fff;
}

.darkTheme {
  --mainColor: #fff;
  --bgColor: #282c34;
  --logoTitle: #eee;
}