@import "../../../../variables";

.UserMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //width: 100%;
  top: 50px;
  right: 0;
  padding: 30px 0 0;
  background-color: var(--bgColor);
  border: 1px solid var(--mainColor);
  //border-left: 10px solid $secondColor;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transform: translateX(-20px);
  transition: all 0.2s;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 12px;
    background-image: url("../../../../assets/icons/bricks.svg");
    background-color: $secondColor;
    background-position: center;
    background-size: 45px;
    background-repeat: repeat;
  }

  &__close {
    position: absolute;
    display: flex;
    align-items: center;
    //border-radius: 0 0 0 4px;
    justify-content: center;
    top: 0;
    left: 0;
    border: 1px solid #505050;
    border-top: none;
    border-left: none;
    width: 26px;
    height: 26px;
    background-color: $secondColor;
    transition: all 0.3s ease 0s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: $black;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }


  &__link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 25px 10px 10px;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: $secondColor-light;
    }
  }
}

.active {
  visibility: visible;
  opacity: 1;
  z-index: 100;
  transform: translateY(0);

}
