@import "../../../../variables";

.UserMenu {
  position: absolute;
  top: 52px;
  right: 0;
  padding: 30px 20px 0;
  min-width: 500px;
  background-color: var(--bgColor);
  border: 1px solid var(--mainColor);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transform: translateY(-5px);
  transition: all 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--secondColor);
      border-radius: 10px;
    }
  }

  &__name {
    max-width: 200px;
    font-weight: 700;
  }

  &__close {
    position: absolute;
    display: flex;
    align-items: center;
    //border-radius: 0 0 0 4px;
    justify-content: center;
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
    transition: all 0.3s ease 0s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: var(--mainColor);
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__body {
    padding: 10px 0;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px 25px 10px 10px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    transition: all 0.2s;

    &:hover {
      background-color: $secondColor-light;
    }
  }

  &__menuIcon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }

  &__menuIconPath {
    fill: var(--mainColor);
  }

  &__quit {
    position: relative;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    padding-right: 25px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 16px;
      height: 16px;
      background-image: url('../../../../assets/icons/stand-by.svg');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: contain;
    }

    span {
      border-bottom: 1px dashed transparent;
      transition: all 0.3s;
    }

    &:hover {
      span {
        border-color: var(--mainColor);
      }
    }
  }

  &__logoutIcon {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    transition: all 0.2s;
  }

  &__logoutIconPath {
    fill: var(--mainColor);
  }
}

.active {
  visibility: visible;
  opacity: 1;
  z-index: 100;
  transform: translateY(0);

}
