@import "../../../../variables";

.Methods {


  &__label {
    position: relative;
    color: rgba(#fff, 0.8);

    span {
      margin-left: 10px;
    }
  }

  &__input {
    margin: 5px 0 20px;
    padding: 0 15px;
    width: 100%;
    height: 40px;
    background-color: $popupInputBgColor;
    border-radius: 2px;
    border: 1px solid transparent;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease-in-out;

    &:focus {
      border-color: $blue-5;
    }

    &::before {
      position: absolute;
      content: "";
    }
  }

  &__forgot {
    color: rgba(#fff, 0.4);
    transition: all 0.2s;

    &:hover {
      color: rgba(#fff, 0.7);
    }
  }

  &__submit {
    margin-top: 30px;
    padding: 15px;
    width: 100%;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: paleturquoise;

    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba(paleturquoise, 0.8);

    }
  }

  &__byGoogle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 16px;
    padding: 10px 0 10px 30px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    color: #4b4b4b;
    background-color: #fff;

    &::before {
      content: "";
      position: absolute;
      left: 20px;
      width: 20px;
      height: 20px;
      background-image: url('./icons/google.svg');
      background-position: 0 0;
      background-repeat: no-repeat;
      transform: translateX(0);
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        transform: translateX(30px) scale(1.2);
      }
    }
  }

  &__emailError {
    position: absolute;
    right: 0;
    top: 70px;
    font-size: 13px;
    text-align: right;
    color: firebrick;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: all 0.3s ease-in-out;
  }
}

.hasError {
  border-color: firebrick;
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
