.User {
  display: flex;
  align-items: center;
  margin: 0 0 0 60px;
  font-size: 16px;

  &__imageWrapper {
    //padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
    width: 55px;
    height: 55px;
    border: 2px solid var(--secondColor);
    background-color: #fff;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    cursor: pointer;

  }

  &__image {
    width: 90%;
    height: 90%;
    object-fit: contain;
    object-position: center;

  }

  &__nameWrapper {
    position: relative;
    margin-left: 20px;
    padding-right: 45px;
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    span {
      border-bottom: 1px dashed;
    }
  }

  &__chevron {
    position: absolute;
    right: 20px;
    width: 14px;
    height: 12px;
    transition: all 0.2s;
    transform: translateY(2px) scaleY(1);
  }

  &__chevronPath {
    fill: var(--mainColor);
  }
}

.opened {
  transform: translateY(2px) scaleY(-1);
}
