.User {
  display: flex;
  align-items: center;
  margin: 0 0 0 40px;
  font-size: 16px;

  &__imageWrapper {
    padding: 2px;
    border-radius: 4px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    //border: 2px solid var(--mainColor);
    background-color: #fff;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__nameWrapper {
    position: relative;
    margin-left: 20px;
    padding-right: 45px;
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    span {
      border-bottom: 1px dashed;
    }
  }

  &__chevron {
    position: absolute;
    right: 20px;
    width: 14px;
    height: 12px;
    transition: all 0.3s ease 0s;
    transform: translateY(2px) scaleY(1);
  }

  &__chevronPath {
    fill: var(--mainColor);
  }
}

.opened {
  transform: translateY(2px) scaleY(-1);
}
