@import "../../../../../variables";

.card {
  position: relative;
  flex: 1;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid $secondColor;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

  &::before {
    //content: "";
    //position: absolute;
    //left: 0;
    //top: 0;
    //z-index: 0;
    //width: 100%;
    //height: 100%;
    //background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  }

  &__badge {
    position: absolute;
    padding: 5px;
    border-radius: 4px;
    right: 10px;
    top: 10px;
  }

  &__figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    //min-height: 400px;

    img {
      display: block;
      //width: 520px;
      //height: 400px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      backface-visibility: hidden;
      transition: transform 4s ease;
    }
  }

  &__textWrapper {
    position: absolute;
    bottom: 0;
    padding: 25px 15px;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 1s ease;
  }

  &__title {
    display: block;
    margin-bottom: 0.5rem;
    transition: color 1s ease;
  }

  &__dateTime {
    display: block;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #fff;
  }

  &__details {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }

  &__desc {
    //margin-bottom: 15px;
  }

  &__more {
    position: relative;
    display: block;
    margin: 10px 0 0 auto;
    padding: 10px 15px;
    border-radius: 4px;
    text-align: center;
    background: $secondColor;
    color: $mainColor;
    font-size: 12px;
    z-index: 5;
    //backface-visibility: hidden;
  }

  &:hover {
    .card__details {
      max-height: 150px;
      opacity: 1;
    }

    .card__text-wrapper {
      background-color: rgba(0, 0, 0, 0.6);
    }

    .card__title {
      color: $yellow;
    }

    .card__figure img{
      transform: scale(1.2);
      //z-index: -1;
    }
  }
}
