.GardenerGirl {
  position: relative;
  display: block;
  margin: 0 0 30px auto;
  width: 400px;
  height: 500px;

  &__girl {
    position: absolute !important;
    left: 30px !important;
    top: unset !important;
    bottom: 15px !important;
    z-index: 12;
    height: 350px;
  }

  &__tree {
    z-index: 8;
    height: 500px;
  }

  &__bushes {
    left: 40% !important;
    top: unset !important;
    bottom: 10px !important;
    z-index: 10;
    display: block;
    height: 100px;
  }

  &__bg {
    top: 0% !important;
    left: -10% !important;
    z-index: 1;
    height: 400px;
  }
}
