.GardenerGirl {
  position: relative;
  margin: 0;
  height: 600px;
  flex-basis: 50%;

  &__girl {
    position: absolute !important;
    left: 60px !important;
    top: unset !important;
    bottom: 20px !important;
    z-index: 9;
    height: 300px;
  }

  &__tree {
    z-index: 8;
    height: 600px;
  }

  &__bushes {
    left: 30% !important;
    top: unset !important;
    bottom: 20px !important;
    z-index: 10;
    display: block;
    height: 100px;
  }

  &__bg {
    top: 80px !important;
    z-index: 1;
    height: 400px;

  }

}
