@import "../../../variables";

.Info {

  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 0 auto;

  &__title {
    font-size: 14px;
  }

  &__phone {
    position: relative;
    margin-bottom: 5px;
    padding-left: 35px;
    color: $secondColor;
    font-weight: 700;
    font-size: 20px;

    span {
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s ease;

      &:hover {
        border-color: $secondColor;
      }
    }
  }

  &__phoneIcon {
    position: absolute;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
  }

  &__phonePath {
    fill: var(--secondColor);
  }

  &__email {
    position: relative;
    padding-left: 30px;
    font-size: 14px;

    span {
      border-bottom: 1px dashed;
    }

    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      left: 0;
      background-image: url('../../../assets/icons/mail.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
