// цвета сайта
$mainColor: #000;
$secondColor: #bfaa99;
$secondColor-light: rgba($secondColor, 0.7);
$navTextColor: #111;
$navBgColor: paleturquoise;
$navAccentColor: #7deea1;
$popupBgColor: #171d30;
$popupInputBgColor: #0d1221;
$popupInputError: tomato;
$popupErrorMsgColor: ff4500ff;
$popupSuccessMsgColor: #2bb72b;
$logoText: var(--mainColor);
$black: #000;
$grey: #808285;
$lightGrey: #a7a9ac;
$yellow: #f6f335;
$lightBlue: #92ccce;
$blue-3: #356ead;
$blue-4: #7828bd;
$blue-5: #98c3e8;
$marvel: #F0131E;
$captainAmerica: #1849CA;
$white: #fff;
$gradient: rgba($blue-5, 0.2);

$overlay: rgba(#000, 0.4);

$error: rgba(#f00, 0.8);
$valid: rgba(green, 0.8);

:root {
  --mainColor: #000;
  --logoColor: #92ccce;
  --secondColor: #bfaa99;
  --secondColorLight: #bfaa99b3;

  --inputFocusColor: #98c3e8;
  --inputsBgColor: #212c4b;

  --popupBgColor: #171d30;
  --popupInputError: #832415;
  --popupLabelTitle: #cbc9c9;
  --popupErrorMsgColor: #ff4500ff;
  --popupValidBgColor: #169e16;

  --alertsSectionBgColor: #f0f4feff;
  //--alertsSectionBgColor: #357960;
  //--alertsSectionBgColor: #467061;
  //--alertsSectionBgColor: #c8bea0;
  --alertsDescBgColor: #f5ece5;
  //--buttonBgColor: #a7a9ac;
  --buttonBgColor: #7dbd99;
  --buttonOnHoverColor: #60d08c;
  --alertsButtonOnHoverColor: #9dd07c;
  --disabledButtonBg: #808285;
  --accentColor: #7deea1;
  --fontFamily: "Roboto", sans-serif;
  --fontFamily2: "Literata", sans-serif;
  --fontFamily3: "Roboto Slab", serif;
}

// <Шрифт по умолчанию>========================
$fontFamily: "Roboto", sans-serif;
$fontFamily2: "Cuprum", sans-serif;
$fontFamily3: "Literata", serif;

// <Переменные контейнера>=====================
$minWidth: 320;
$maxWidth: 1400;
$maxWidthContainer: 1230;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
