// цвета сайта
$mainColor: #000;
$secondColor: #bfaa99;
$secondColor-light: rgba($secondColor, 0.5);
$navTextColor: #111;
$navBgColor: paleturquoise;
$popupBgColor: #171d30;
$popupInputBgColor: #0d1221;
$popupInputError: tomato;
$popupErrorMsgColor: orangered;
$popupSuccessMsgColor: #2bb72b;
$logoText: var(--mainColor);
$black: #000;
$grey: #808285;
$lightGrey: #a7a9ac;
$yellow: #eecb2f;
$lightBlue: #92ccce;
$blue-3: #356ead;
$blue-4: #7828bd;
$blue-5: #98c3e8;
$marvel: #F0131E;
$captainAmerica: #1849CA;
$white: #fff;
$gradient: rgba($blue-5, 0.2);

$overlay: rgba(#000, 0.4);

$error: rgba(#f00, 0.8);
$valid: rgba(green, 0.8);

:root {
  --logoColor: #92ccce;
  --secondColor: #bfaa99;
}

// <Шрифт по умолчанию>========================
$fontFamily: "Roboto", sans-serif;
$fontFamily2: "Cuprum", sans-serif;
$fontFamily3: "Literata", serif;

// <Переменные контейнера>=====================
$minWidth: 320;
$maxWidth: 1400;
$maxWidthContainer: 1230;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
