@import "../../variables";

.Nav {
  margin-bottom: 20px;
  font-family: $fontFamily2;
  font-size: 18px;
  background-color: paleturquoise;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    display: inline-block;
    padding: 10px 27px;
    transition: all 0.3s ease 0s;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.active {
  position: relative;
  background-color: #fff;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: paleturquoise;
  }

  &::after {
    top: unset;
    bottom: 0;
  }
}
