@import "../../variables";

.Nav {
  margin-bottom: 20px;
  font-family: $fontFamily2;
  font-size: 18px;
  background-color: paleturquoise;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    position: relative;
    display: inline-block;
    padding: 10px 27px;
    overflow: hidden;
    color: $navTextColor;
    animation-duration: 1s;
    animation-fill-mode: both;
    transition: all 0.3s;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &::after {
      content: attr(data-alt);
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      display: inline;
      text-align: center;
      color: var(--mainColor);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    span {
      display: block;
      opacity: 1;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    //&:hover {
    //  background-color: $white;
    //
    //
    //}
  }
}

.active {
  background-color: var(--bgColor);

  &::after {
    animation: swap 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-fill-mode: forwards;
  }

  span {
    animation: hide 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-fill-mode: forwards;
  }

  @keyframes hide {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(100%);
    }
  }

  @keyframes swap {
    0% {
      transform: translateY(0);
    }

    90% {
      transform: translateY(155%);
    }

    100% {
      transform: translateY(150%);
    }
  }
}
